[core]
  pager = delta
  autocrlf = input
  eol = lf

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

