[Desktop Entry]
Name=btop
Comment=Resource monitor
Exec=alacritty --class=btop --title=btop -e btop
Icon=usr-btop
Terminal=false
Type=Application
Categories=System;Monitor;
